@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #50464b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000059;
}

.main-link-out {
  outline: 1px solid #ff3f3a;
  border-radius: 0.4rem;
  transition: background 0.3s;
}

.main-link-out:hover {
  background: linear-gradient(to right, #ff3f3a, #f75e05);
  color: #ffffff;
}
.btn-gradient {
  background: linear-gradient(to right, #ff3f3a, #f75e05);
  transition: background 0.3s;
  border-radius: 0.4rem;
}
.btn-gradient:hover {
  background: transparent;
  outline: 1px solid #ff3f3a;
  color: #ff3f3a;
}

.btn-tab-acvite {
  outline: 1px solid #ff3f3a;
}

.btn-tab-hov:hover {
  outline: 1px solid #ff3f3a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-tab-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.9s linear;
}

.card-shadow {
  transition: 0.3s linear;
}

.card-shadow:hover {
  box-shadow:
    0px 4px 4px -4px #1e212c0d,
    0px 12px 10px -6px #ff3f3a14,
    0px 30px 24px -10px #ff3f3a1a,
    0px 80px 80px -20px #ff3f3a29;
}
.person-text::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/img/homepage/braces.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.text-before::after {
  content: "|";
  padding-left: 12px;
  font-weight: 400;
}

.test {
  outline: 1px solid red;
}

.card-outline {
  outline: 1px solid #e5e8ed;
}
